body{
    background: #e8e8e8;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.pais{
    background: white;
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.franca{
    border-left: 10px solid #002654;
}

.espanha{
    border-left: 10px solid #aa151b;
}

.italia{
    border-left: 10px solid #009246;
}

.eua{
    border-left: 10px solid #3c3b6e;
}

.turquia{
    border-left: 10px solid #e30a17;
}

img{
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
}

h1{
    font-size: 35px;
    margin-bottom: 10px;
}

h2{
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
}

p{
    line-height: 25px;
}

.cidades a{
    display: block;
    margin: 6px 0;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

.cidades a:hover{
    margin-left: 10px;
}

.cidade{
    background: white;
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.informacoes{
    margin-top: 15px;
}

.informacoes p{
    margin: 8px 0;
}

.wiki{
    background: #222;
    color: white !important;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
}

.voltar{
    display: block;
    margin-top: 20px;
}

.voltar{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    color: white !important;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.voltar:hover{
    opacity: 0.8;
    transform: scale(1.03);
    box-shadow: 0 6px 20px rgba(255,255,255,0.1);
}

.franca-botao{
    background: #002654;
}

.espanha-botao{
    background: #aa151b;
}

.italia-botao{
    background: #009246;
}

.eua-botao{
    background: #3c3b6e;
}

.turquia-botao{
    background: #e30a17;
}

img{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px 0;
}