*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#111;
    color:white;
}

.container{
    max-width:1000px;
    margin:auto;
    padding:40px;
}

h1{
    text-align:center;
    color:#ff3333;
    margin-bottom:30px;
}

img{
    width:100%;
    border-radius:15px;
    margin-bottom:25px;
}

p{
    font-size:18px;
    line-height:1.8;
    text-align:justify;
    margin-bottom:25px;
}

video{
    width:100%;
    border-radius:15px;
}

.botao{
    display:inline-block;
    margin-top:30px;
    padding:12px 25px;
    background:red;
    color:white;
    text-decoration:none;
    border-radius:10px;
    font-weight:bold;
        transition: 0.3s;
}

.botao:hover{
    background:#ff3333;
    transform: scale(1.03);
    box-shadow: 0 6px 20px rgba(255,255,255,0.1);
}